*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 1fr 4fr/1fr 4fr;
    min-height: 100vh;
}

aside {
    display: inline-grid;
    grid-template-rows: 0.5fr 2fr; ;
    padding: 1rem;
    grid-area: 1/1/-1/1;
    background: #0F8AD8;
    z-index: 2;
}

header {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 1px 2px 8px 0 #00000044;
    grid-area: 1/2/1/2;
    padding: 1rem 2rem;
    z-index: 1;
}

main {
    display: grid;
    grid-area: 2/2/2/2;
    grid-template-columns: repeat(3, 1fr);
    background: #e2e8f0; 
}

h3 {
    display: inline;
}

span {
    font-size: 2rem;
    font-weight: 800;
}

.sideHeader {
    grid-row: 1/2
}

.subcontainer {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    font-weight: 800;
    margin: 1.5rem 0;
}

.sideContent {
    width: 15%;
    margin-right: 1rem;
    filter: invert(95%) sepia(0%) saturate(20%) hue-rotate(34deg) brightness(104%) contrast(108%);
}

.upperHeader, .bottomHeader {
    width: 100%;
    min-height: 50%;
    display: flex;
    align-items: center;      
}

.headerContent {
    width: 2.5%;
    margin-right: 35px;
}

.pfp1{
    width: 5%;
    min-height: 75%;
}

.pfp2 {
    width: 10%;
    max-height: 75%;
}

.logo {
    width: 20%;
}

.profilecontainer, .btncontainer {
    display: flex;
    width: 50%;
    min-height: 100%;
    padding: 0 0.75rem;
}

.btncontainer {
    align-items: center;
    justify-content: space-around;
    padding:0 1.5rem 0 8rem;
}

.btn {
    color: white;
    background: #0F8AD8;
    border: none;
    border-radius: 2rem;
    min-width: 25%;
    font-size: 1rem;
    padding: 0.5rem;
}

#upper {
    grid-row: 2/3;
}

#bottom {
    grid-row: 3/-1;
}

#search {
    min-height: 50%;
    background: #e2e8f0;
    min-width: 55%;
    border-radius: 1rem;
    border: none;
    margin-right: 100px;
}