*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 1fr 4fr/1fr 4fr;
    min-height: 100vh;
}

aside {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    grid-area: 1/1/-1/1;
    background: #0F8AD8;
    z-index: 2;
}

header {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 1px 2px 8px 0 #00000044;
    grid-area: 1/2/1/2;
    padding: 1rem 2rem;
    z-index: 1;
}

main {
    display: grid;
    grid-area: 2/2/2/2;
    grid-template-columns: repeat(3, 1fr);
    background: #e2e8f0; 
}

h3 {
    display: inline;
}

.header {
    display: inline;
    width: 100%;
    height: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

span.header {
    font-size: 1.05rem;
}

.bottomSpace {
    margin-bottom: 8px;
}


.announcements {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 5px 8px 0 #00000044;
    border-radius: 1rem;
}

.announcements > p {
    width: 85%;
    font-size: 0.7rem;
    margin: 0.9rem 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.announcements :last-child {
    border: none;
}

.trending-profiles {
    width: 1rem;
}

.trending {
    background: white;
    border-radius: 1rem;
    box-shadow: 1px 5px 8px 0 #00000044;
}



.profileText {
    font-size: 2rem;
    font-weight: 800;
}

.cardContainer {
    grid-area: 1/1/1/3;
    padding: 1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.emptyspace {
    margin-bottom: 3rem;
}


.inline {
    display: inline;
}

.profile-pictures {
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.profile-pictures > p {
    font-size: 1rem;
}

.wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 1rem 1.25rem;
}

.sideContainer {
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 47.5%;
    background: #fff;
    box-shadow: 1px 5px 8px 0 #00000044;
    padding: 15px 20px;
    border-left: 7.5px solid orange;
    border-radius: 8px;
}

.cardImg {
    width: 8%;
}

.cardWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0 1rem;
}

.subcontainer {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 1.35rem;
    font-weight: 800;
    margin-top: 1.5rem;
}

.sideContent {
    width: 15%;
    margin-right: 1rem;
    filter: invert(95%) sepia(0%) saturate(20%) hue-rotate(34deg) brightness(104%) contrast(108%);
}

.upperHeader, .bottomHeader {
    width: 100%;
    min-height: 50%;
    display: flex;
    align-items: center;      
}

.headerContent {
    width: 2.5%;
    margin-right: 35px;
}

.pfp1{
    width: 5%;
    min-height: 75%;
}

.pfp2 {
    width: 12%;
    max-height: 75%;
}

.logo {
    width: 20%;
}

.profilecontainer, .btncontainer {
    display: flex;
    width: 50%;
    min-height: 100%;
    padding: 0 0.75rem;
}

.btncontainer {
    align-items: center;
    justify-content: space-around;
    padding:0 1.5rem 0 8rem;
}

.btn {
    color: white;
    background: #0F8AD8;
    border: none;
    border-radius: 2rem;
    min-width: 25%;
    font-size: 1rem;
    padding: 0.5rem;
}


#search {
    min-height: 50%;
    background: #e2e8f0;
    min-width: 55%;
    border-radius: 1rem;
    border: none;
    margin-right: 100px;
}